.navigation {
  width: 100%;
}

.navigation ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 1em;
}
.navigation ul li {
  margin: 1em 2em;
}

.navigation ul li a {
  text-decoration: none;
  color: white;
}

.navigation ul li a:hover {
  border-bottom: 3px solid white;
}

.navbrand {
  display: none;
}

.hamburger {
  display: none;
}

@media only screen and (max-width: 715px) {
  .navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .navbrand {
    display: block;
    color: white;
    margin: 1em;
  }
  .hamburger {
    color: white;
    display: block;
    margin: 2em;
  }
  .navigation ul {
    display: none;
  }
}
